{% macro trash(i, parent=None, parent_option=None) %}
    <div class="field one wide {{ 'offscreen' if parent }}"
            {{ 'data-parent={}'.format(parent) if parent }}
            {{ 'data-parent-option={}'.format(parent_option) if parent_option }}>
        <label>&nbsp</label>
        <div onclick="{{ 'addInput(this)' if i.label else 'removeInput(this)' }}"
             class="ui icon button small disabled {{ 'labeled' if i.label else 'fluid' }}">
            <i class="trash icon"></i>
        </div>
    </div>
{% endmacro %}