{% macro checkbox(input) %}
    {% for option in input.options %}
        <div class="i-checks">
            <label>
                <input type="checkbox" value="">
                <i></i>
                {{ input.options[option] }}
            </label>
        </div>
    {% endfor %}

    {% if input.outros %}
        <div class="i-checks">
            <label>
                <input type="checkbox" value="">
                <i></i>
                Outros {{ switch(input.outros, outros = True) }}
            </label>
        </div>
    {% endif %}
{% endmacro %}