{% macro radio(input) %}
    <div class="grouped fields">
        <label>{{ input.label }}</label>
        {% for opt in input.options %}
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="{{ input.name }}" value="{{ opt.id if opt.id else loop.index }}">
                    <label>{{ opt.value }}</label>
                </div>
            </div>
        {% endfor %}
    </div>

    {% for option in input.options %}
        <div class="form-group">
            <div data-name="{{ input.name }}" data-id="{{ '{}-{:d}'.format(input.name, loop.index0) }}"
                 class="offscreen">
                {% for field in option.fields %}
                    {{ switch(field) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}