{% macro radio(input) %}
    {% for option in input.options %}
        <div class="i-checks">
            <label onclick="radio(this.childNodes[1].childNodes[0])">
                <input data-only id="{{ loop.index0 }}" type="radio" checked="" value="{{ loop.index0 }}"
                       name="{{ input.name }}">
                <i></i>
                {{ option.label }}
            </label>
        </div>
    {% endfor %}
    {% for option in input.options %}
        <div class="form-group">
            <div data-id="{{ loop.index0 }}" class="offscreen">
                {% for field in option.fields %}
                    {{ switch(field) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}