{% macro select(i, parent=None, parent_option=None) %}
    <div class="field {{ 'offscreen' if parent }}"
            {{ 'data-parent={}'.format(parent) if parent }}
            {{ 'data-parent-option={}'.format(parent_option) if parent_option }}>
        <label>{{ i.label }}</label>
        <div class="ui input small">
            {{ raw_select(i) }}
        </div>
    </div>

    {% for opt in i.options %}
        {% if opt.fields %}
            {% set index = loop.index %}
            {% for field in opt.fields %}
                {{ switch(field, parent=i.name, parent_option=opt.id if opt.id else index) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro raw_select(i) %}
    <div class="ui selection dropdown fluid {{ 'multiple' if i.multiselect else 'single' }}">
        <input type="hidden" name="{{ i.name }}">
        <i class="dropdown icon"></i>
        <div class="default text">{{ i.placeholder if i.placeholder | length != 0 else 'Selecione...' }}</div>
        <div class="menu">
            {% for opt in i.options %}
                {{ raw_option(i, opt, loop.index) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro raw_option(i, opt, index) %}
    <div
            class="item"
            data-parent="{{ i.name }}"
            data-value="{{ opt.id if opt.id else index }}">{{ opt.value }}</div>
{% endmacro %}