{% macro select(input) %}

    <div class="field {{ 'wide ' + input.column if input.column }}">
        <label>{{ input.label }}</label>
        <div class="ui input small">
            <div class="ui selection fluid dropdown {{ 'multiple fluid search' if input.multiple else 'single' }}">
                <input type="hidden" name="{{ input.name }}">
                <i class="dropdown icon"></i>
                <div class="default text">Selecione...</div>
                <div class="menu">
                    {% for opt in input.options %}
                        <div class="item" data-name="{{ input.name }}"
                             data-value="{{ opt.id if opt.id else loop.index }}">{{ opt.value }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% for opt in input.options %}
        {% if opt.fields %}
            {% for field in opt.fields %}
                {{ switch(field) }}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endmacro %}