{% macro select(input) %}
    <div class="gt-group">
        <div class="field">
            <label>{{ input.label }}</label>
            <div class="ui selection dropdown {{ 'multiple fluid search' if input.multiple else 'single' }}">
                <input type="hidden" name="{{ input.name }}">
                <i class="dropdown icon"></i>
                <div class="default text">{{ input.placeholder if input.placeholder else 'Selecione...' }}</div>
                <div class="menu">
                    {% for opt in input.options %}
                        <div class="item" data-name="{{ input.name }}"
                             data-value="{{ opt.id if opt.id else loop.index }}">{{ opt.value }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for opt in input.options %}
            {% if opt.fields %}
                <div data-name="{{ input.name }}" data-value="{{ opt.id if opt.id else loop.index }}" class="offscreen">
                    {% for field in opt.fields %}
                        {{ switch(field) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}