{% from 'macros/text.html' import text with context %}
{% from 'macros/radio.html' import radio with context %}
{% from 'macros/checkbox.html' import checkbox with context %}
{% from 'macros/select.html' import select with context %}

{% macro switch(input) %}

    {% if input.type == "radio" %}
        {{ radio(input) }}
    {% elif input.type == "checkbox" %}
        {{ checkbox(input) }}
    {% elif input.type == "select" %}
        {{ select(input) }}
    {% else %}
        {{ text(input) }}
    {% endif %}

{% endmacro %}