{% macro switch(input, parent=None, parent_option=None, primeiroAtendimento=False) %}

    {% if input is iterable and input is not mapping %}
        {% from 'macros/fields.html' import fields with context %}
        {{ fields(input, parent=parent, parent_option=parent_option) }}
    {% elif input.type == "radio" %}
        {% from 'macros/radio.html' import radio with context %}
        {{ radio(input) }}
    {% elif input.type == "checkbox" %}
        {% from 'macros/checkbox.html' import checkbox with context %}
        {{ checkbox(input, parent=parent, parent_option=parent_option) }}
    {% elif input.type == "select" %}
        {% from 'macros/select.html' import select with context %}
        {{ select(input, parent=parent, parent_option=parent_option) }}
    {% elif input.type == "date" %}
        {% from 'macros/date.html' import date with context %}
        {{ date(input) }}
    {% elif input.type == "btn_trash" %}
        {% from 'macros/trash.html' import trash with context %}
        {{ trash(input, parent=parent, parent_option=parent_option) }}
    {% elif input.type == "btn_add" %}
        {% from 'macros/add.html' import add with context %}
        {{ add(input, parent=parent, parent_option=parent_option) }}
    {% else %}
        {% from 'macros/text.html' import text with context %}
        {{ text(input, parent=parent, parent_option=parent_option) }}
    {% endif %}
{% endmacro %}