{% from 'form/text.html' import text with context %}
{% from 'form/radio.html' import radio with context %}
{% from 'form/checkbox.html' import checkbox with context %}
{% from 'form/select.html' import select with context %}

{% macro switch(input) -%}

    {% if input.type == "radio" %}
        {{ radio(input) }}
    {% elif input.type == "checkbox" %}
        {{ checkbox(input) }}
    {% elif input.type == "select" %}
        {{ select(input) }}
    {% else %}
        {{ text(input) }}
    {% endif %}

{%- endmacro %}