{% from 'macros/mask.html' import mask with context %}

{% macro text(input) %}
    <div class="field">
        <label>{{ input.label }}</label>
        <div class="ui input small {{ 'left action' if input.action }}">
            {% if input.action %}
                <button class="ui icon button">
                    <i class="trash icon"></i>
                </button>
            {% endif %}
            <input name="{{ input.name }}" type="text"
                   placeholder="{{ input.placeholder if input.placeholder else input.mask }}"
                   class="{{ 'is-required required' if input.required }} {{ input.class }}"
                    {{ mask(input) if input.mask }}>
        </div>
    </div>
{% endmacro %}