<html>

<head>
    <title>COVID-19 | Norte Fluminense | Histórico</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>

<table class="table table-striped table-responsive">
<thead>
<tr>
    {% for column in historico.columns %}
        <th>{{ column | replace("_", " ") | capitalize }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
    {% for content in historico.content %}
        <tr>
            {% for i in range(0, content | length, 1) %}
                {% if content[i] == None %}
                    <td>-</td>
                {% else %}
                    {% if content[i] == 1 %}
                        <td>Sim</td>
                    {% elif content[i] == 0 %}
                        <td>Não</td>
                    {% else %}
                        <td>{{ content[i] }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>

</body>

</html>