{% extends "template.html" %}
{% block conteudo %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Página Inicial</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="home.html">Página Inicial</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Formulário de Atendimento</h5>
                </div>
                <div class="ibox-content">
                    <h2>Formulário de Atendimento</h2>
                    <p>Informações referentes ao Paciente</p>
                    <form id="form" action="/atendimento" method="POST" class="wizard-big">
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="font-normal">Nome do Paciente *</label>
                                        <input id="userName" name="userName" type="text" class="form-control required">
                                    </div> 
                                    <div class="form-group">
                                        <label class="font-normal">CPF *</label>
                                        <input id="userCpf" name="userCpf" type="text" class="form-control required">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Telefone *</label>
                                            <input id="userFone" name="userFone" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Ocupação *</label>
                                            <input id="userOcupacao" name="userOcupacao" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-normal">Data de Aniversário *</label>
                                        <div class="input-group date" id="dataAniversario">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-8">
                                            <label class="font-normal">Sexo *</label>
                                            <div class="row">
                                                <div class="i-checks col-lg-1"></div>
                                                <div class="i-checks col-lg-3"><label> <input type="radio" value="option1" name="userSexo"> <i></i> Masculino </label></div>
                                                <div class="i-checks col-lg-3"><label> <input type="radio" value="option2" name="userSexo"> <i></i> Feminino </label></div>
                                                <div class="i-checks col-lg-5"><label> <input type="radio" checked value="option2" name="userSexo"> <i></i> Não opinou </label></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="font-normal">Raça *</label>
                                            <select class="form-control m-b" name="raca">
                                                <option>Branca</option>
                                                <option>Preta</option>
                                                <option>Amarela</option>
                                                <option>Parda</option>
                                                <option>Indígena</option>
                                                <option>Não opinou</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Dados de Residência</h1>
                        <fieldset>
                            <h2>Dados de Residência do Paciente</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="font-normal">Endereço *</label>
                                        <input id="userName" name="userEndereco" type="text" class="form-control required">
                                    </div> 
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Bairro *</label>
                                            <input id="userName" name="userBairro" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Cidade *</label>
                                            <input id="userName" name="userCidade" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Caso não more sozinho, quantas pessoas moram com você?</label>
                                            <input id="userName" name="userName" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Apresenta alguma doença crônica? *</label>
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="i-checks col-lg-5"><label> <input type="radio" value="option1" name="userDoencaCronicaFamilia"> <i></i> Sim </label></div>
                                                <div class="i-checks col-lg-6"><label> <input type="radio" checked value="option2" name="userDoencaCronicaFamilia"> <i></i> Não </label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="font-normal">Caso haja mulheres no domicílio: algumas delas está grávida?  *</label>
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="i-checks col-lg-5"><label> <input type="radio" value="option1" name="userGravida"> <i></i> Sim </label></div>
                                            <div class="i-checks col-lg-6"><label> <input type="radio" checked value="option2" name="userGravida"> <i></i> Não </label></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    
                                </div>
                            </div>
                        </fieldset>
                        <h1>Dados Clínicos e Epidemiológicos</h1>
                        <fieldset>
                            <h2>Dados Clínicos e Epidemiológicos do Paciente</h2>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Data dos primeiros sintomas *</label>
                                            <div class="input-group date" id="dataSintomas">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Comorbidades *</label>
                                            <input id="userComorbidades" name="userComorbidades" type="text" class="form-control required">
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Apresenta alguma doença crônica? *</label>
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="i-checks col-lg-5"><label> <input type="radio" value="option1" name="userDoencaCronica"> <i></i> Sim </label></div>
                                                <div class="i-checks col-lg-6"><label> <input type="radio" checked value="option2" name="userDoencaCronica"> <i></i> Não </label></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Caso sim, quais ? *</label>
                                            <input id="userDoencas" name="userDoencas" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Toma algum medicamento diariamente?  *</label>
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="i-checks col-lg-5"><label> <input type="radio" value="option1" name="userMedicamento"> <i></i> Sim </label></div>
                                                <div class="i-checks col-lg-6"><label> <input type="radio" checked value="option2" name="userMedicamento"> <i></i> Não </label></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Caso sim, quais ? *</label>
                                            <input id="userQuaisMedicamentos" name="userQuaisMedicamentos" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-8">
                                            <label class="font-normal">Como toma esse medicamento? (Dose, quantidade de vezes ao dia) *</label>
                                            <input id="userQuaisMedicamentos" name="userQuaisMedicamentos" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="font-normal">Há quanto tempo toma esses medicamentos? *</label>
                                            <input id="userQuaisMedicamentos" name="userQuaisMedicamentos" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Alguém indicou o uso de algum deles (médico, enfermeira, vizinho, etc)?   *</label>
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="i-checks col-lg-5"><label> <input type="radio" value="option1" name="userMedicamentoIndicacao"> <i></i> Sim </label></div>
                                                <div class="i-checks col-lg-6"><label> <input type="radio" checked value="option2" name="userMedicamentoIndicacao"> <i></i> Não </label></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="font-normal">Caso sim, quem ? *</label>
                                            <select class="form-control m-b" name="userMedicamentoIndicacao">
                                                <option>Médico</option>
                                                <option>Enfermeiro</option>
                                                <option>Vizinho/Familiar/Amigo/Conhecido</option>
                                                <option>Dentista</option>
                                                <option>Outro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
         </div>
    </div>
</div>

{% endblock %}