{% from 'macros/switch.html' import switch with context %}
{% from 'macros/fieldset.html' import fieldset with context %}

{% extends "template.html" %}
{% block conteudo %}


    <div class="ibox-content">
        <form action="/paciente" method="post">

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.nome) }}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.cpf) }}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.cns) }}
                </div>
            </div>
            
            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.telefone) }}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.endereco) }}
                </div>
            </div>

            

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.genero) }}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.etnia) }}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ switch(fields.dataNasc) }}
                </div>
            </div>

            <div class="hr-line-dashed"></div>
                                
            <div class="form-group row">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
                    
{% endblock %}