{% extends "template.html" %}
{% block conteudo %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Página Inicial</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="home.html">Página Inicial</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Formulário de Telemonitoramento</h5>
                </div>
                <div class="ibox-content">
                    <h2>Formulário Primeiro Atendimento</h2>
                    <p>Este é o formulário a ser preenchido no primeiro contato telefônico com o usuário</p>
                    <form id="form" action="/atendimento" method="POST" class="wizard-big">
                        <!-- Aba 1 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 2 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 3 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 4 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 5 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 6 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 7 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                        <!-- Aba 8 -->
                        <h1>Informações Básicas</h1>
                        <fieldset>
                            <h2>Informações Básicas do Paciente</h2>
                        </fieldset>
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}