{% from 'macros/switch.html' import switch with context %}
{% from 'macros/fieldset.html' import fieldset with context %}

{% extends "template.html" %}
{% block conteudo %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cadastro dos Atendentes</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/registrar">Cadastro dos Atendentes</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h3 class="m-t-none m-b">Dados do Atendente</h3>
                    <p>Insira os dados solicitados</p>
                    <div class="hr-line-dashed"></div>
                    {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0]}} Cadastre um novo CPF.
                        </div>
                    {% endif %}
                    {% endwith %}
                    <form action="/registrar" method="POST">
                        <div class="form-group  row">
                            <div class="col-sm-6">
                                <div class="row">
                                    {{ switch(fields.nome) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <div class="col-sm-6">
                                <div class="row">
                                    {{ switch(fields.crm) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <div class="col-sm-6">
                                <div class="row">
                                    {{ switch(fields.cpf) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <div class="col-sm-6">
                                <div class="row">
                                    {{ switch(fields.senha) }}
                                </div>
                            </div>
                        </div>
                        {% if master %}
                        <div class="form-group  row">
                            <div class="col-sm-6">
                                <div class="row">
                                    {{ switch(fields.cidade) }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Perfil</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="perfil">
                                            <option value="comum">Comum</option>
                                            <option value="admin">Admin</option>
                                            {% if master %}
                                                <option value="master">Master</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit" value="Cadastrar">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-12 col-md-6">
    <div class="form-group">
        {{ switch(fields.dataNasc) }}
    </div>
</div>
{% endblock %}