{% extends "template.html" %}
{% block conteudo %}

<form action="" method="POST">
    <input type="text" name="nome" placeholder="Inserir nome">
    <input type="text" name="crm" placeholder="Inserir crm">
    <input type="text" name="cpf" placeholder="Inserir cpf">
    <input type="checkbox" name="supervisor" placeholder="É administrador?">
    <input type="text" name="senha" placeholder="Inserir senha">
    <input type="number" name="id" placeholder="Inserir id">
    <input type="submit" value="Cadastrar" >
</form>

{% endblock %}